auto_circuit_exps/*
data/succession_augmented.json
data/ioi_dataset.py
# /data/*.json
!data/succession_augmented_last_equal_len.json
!data/succession_augmented_next_equal_len.json
utils/path_patching.py
utils/direct_logit_attribution.py
garbage/*
figures/*
node_modules/
model/
wandb/
package.json
package-lock.json
**/__pycache__
auto_circuit_outputs_*